.env

.vscode/

__pycache__/

*/node_modules/

*.log

temp/

# ignore session data
data/session_data/*
!data/session_data/.gitkeep
data/session_files/*
!data/session_files/.gitkeep

# ignore user data (contains password hashes)
data/users/users.json
data/users/invitation_codes/codes.json

_local/

COMMIT_MESSAGE.txt
